@model List<HotSpringProject.Entity.MenuVO>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title>凤翔温泉设备平台</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="/assets/hplus/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/hplus/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/hplus/css/animate.css" rel="stylesheet" />
    <link href="/assets/hplus/css/style.css" rel="stylesheet" />
    <link href="/assets/hplus/css/jquery.contextMenu.min.css" rel="stylesheet" />
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden;">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i></div>
            <div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
                <div class="sidebar-collapse" style="width: auto; height: 100%;">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span><img alt="image" class="img-circle" style="width:50px;height:50px" src="@ViewBag.pip"></span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs"><strong class="font-bold">@ViewBag.name</strong></span>
                                        <span class="text-muted text-xs block">@ViewBag.roleName<b class="caret"></b></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a class="J_menuItem" href="form_avatar.html" data-index="0">修改头像</a></li>
                                    <li><a class="J_menuItem" href="profile.html" data-index="1">个人资料</a></li>
                                    <li><a class="J_menuItem" href="contacts.html" data-index="2">联系我们</a></li>
                                    <li><a class="J_menuItem" href="mailbox.html" data-index="3">信箱</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/default/login">安全退出</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">H+</div>
                        </li>
                        @foreach (var item in Model)
                        {
                            <li>
                                <a class="J_menuItem"><i class="fa fa-magic"></i> <span class="nav-label">@item.module_name</span></a>
                                <ul class="nav nav-second-level">
                                    @foreach (var p in item.page_list)
                                    {
                                        <li><a class="J_menuItem" href="@p.page_address">@p.page_name</a></li>
                                    }
                                </ul>
                            </li>
                        }
                                            
                    </ul>
                </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 919px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.9; z-index: 90; right: 1px;"></div>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i></button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i></button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown" data-toggle="dropdown">页签操作<span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="tabCloseCurrent"><a>关闭当前</a></li>
                        <li class="J_tabCloseOther"><a>关闭其他</a></li>
                        <li class="J_tabCloseAll"><a>全部关闭</a></li>
                    </ul>
                </div>
                <a href="#" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="" frameborder="0" seamless></iframe>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="/assets/hplus/js/jquery.min.js"></script>
    <script src="/assets/hplus/js/bootstrap.min.js"></script>
    <script src="/assets/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/hplus/js/plugins/contextMenu/jquery.contextMenu.min.js"></script>
    <!-- 自定义js -->
    <script src="/assets/hplus/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/assets/hplus/js/contabs.js"></script>
    <!-- 第三方插件 -->
    <script src="/assets/hplus/js/plugins/pace/pace.min.js"></script>
</body>
</html>

